In [25]:
import pandas as pd

In [26]:
properties = pd.read_csv('../data/residential.csv')

In [27]:
properties['unit_zestimate'] = properties.zestimate / properties.houseSize
properties['unit_high_est'] = properties.high_estimate / properties.houseSize
properties['unit_low_est'] = properties.low_estimate / properties.houseSize

properties.drop(['results_key', 'zpid', 'street', 'city', 'zipcode', 'latitude',
       'longitude', 'zestimate', 'valueChange', 'low_estimate',
       'high_estimate', 'neighborhood_zindex_value',
       'hometype', 'assessmentYear', 'assessment', 'yearBuilt', 'lotSize',
       'houseSize', 'bathrooms', 'bedrooms', 'lastSold', 'lastSoldPrice',
       'grid_num', 'updated'], axis=1, inplace=True)

properties.drop(['Unnamed: 0'], axis=1, inplace=True)

In [28]:
properties

,neighborhood,tracts,unit_zestimate,unit_high_est,unit_low_est
0,Edison Park,ct_902,194.243333,203.955333,184.531333
1,Edison Park,ct_902,236.935686,248.782584,225.088788
2,Edison Park,ct_901,187.789231,208.446154,167.132308
3,Edison Park,ct_901,191.729337,201.315715,182.142958
4,Edison Park,ct_902,267.624123,281.005105,254.243140
...,...,...,...,...,...
132011,Beverly,ct_7203,221.648810,232.731293,210.566327
132012,Roseland,ct_4903,117.058333,122.911364,111.205303
132013,Washington Heights,ct_7302.02,91.586538,96.166084,87.006993
132014,Calumet Heights,ct_4801,91.166667,102.106918,83.873166
132015,Morgan Park,ct_7506,78.195192,89.142308,70.375962

In [29]:
properties_neighborhood_aggregated = properties.groupby('neighborhood')\
                             [['unit_zestimate', 'unit_high_est', 'unit_low_est']].mean()

In [30]:
properties_tract_aggregated = properties.groupby('tracts')\
                             [['unit_zestimate', 'unit_high_est', 'unit_low_est']].mean()

In [31]:
properties_neighborhood_aggregated.to_csv("../data/properties_neighborhood_aggregated.csv")

In [32]:
properties_tract_aggregated.to_csv("../data/properties_tract_aggregated.csv")