In [2]:
import pyspark
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql.functions import col
import gcsfs
from google.cloud import storage

In [3]:
config = pyspark.SparkConf().setAll([("spark.dynamicAllocation.enabled","True"),
									("spark.executor.cores","4")])

In [4]:
sc = SparkContext(conf=config)

In [5]:
ss = SparkSession(sc)

In [6]:
storage_client = storage.Client()
bucket = storage_client.get_bucket('res-bucket')

In [8]:
res = ss.read.csv("gs://res-bucket/raw_res_{}.txt".format(2016), inferSchema=True, header=False, sep = '\t')

In [11]:
res = res.withColumnRenamed('_c0','household_id').withColumnRenamed('_c1','location_type')\
				.withColumnRenamed('_c2','length_of_residence').withColumnRenamed('_c3','children_count')\
				.withColumnRenamed('_c4','hh_wealth').withColumnRenamed('_c5','hh_income')\
				.withColumnRenamed('_c6','owner_renter_status').withColumnRenamed('_c7','property_value')\
				.withColumnRenamed('_c8','marital_status').withColumnRenamed('_c9','street_number')\
				.withColumnRenamed('_c10','street_pre_direction').withColumnRenamed('_c11','street_name')\
				.withColumnRenamed('_c12','street_post_direction').withColumnRenamed('_c13','street_type')\
				.withColumnRenamed('_c14','unit_type').withColumnRenamed('_c15','unit_number')\
				.withColumnRenamed('_c16','city').withColumnRenamed('_c17','state')\
				.withColumnRenamed('_18','vacant').withColumnRenamed('_c19','latitude')\
				.withColumnRenamed('_c20','longitude').withColumnRenamed('_c21','census_tract')\
				.withColumnRenamed('_c22','ethnicity_code').withColumnRenamed('_c23','year')

In [19]:
city = 'chicago'
res = res.filter((col("city")==city.upper()) | (col("city")==city.lower())).filter((col("state")==state.upper()) | (col("state")==state.lower()))

In [20]:
drop_list = ['street_number', 'street_post_direction', 'street_type','unit_number',
			'location_sales_volume_code','sic_code','sic6_descriptions_sic','office_size_code',
			'census_tract','marital_status']

In [21]:
res = res.select([column for column in res.columns if column not in drop_list])