In [2]:
from py2neo import Graph
import pandas as pd

uri = "bolt://localhost:7687"
graph = Graph(uri, auth=("neo4j", "password"))

In [8]:
result = graph.run("match (a:neighborhood)-[:NEXT_TO]->(b) where a.name = 'Logan Square' return a,b").to_table()
df = pd.DataFrame(result)

In [9]:
df

,0,1
0,"{'name': 'Logan Square', 'avg_property_value':...","{'name': 'Wicker Park', 'avg_property_value': ..."
1,"{'name': 'Logan Square', 'avg_property_value':...","{'name': 'Humboldt Park', 'avg_property_value'..."
2,"{'name': 'Logan Square', 'avg_property_value':...","{'name': 'Bucktown', 'avg_property_value': '40..."
3,"{'name': 'Logan Square', 'avg_property_value':...","{'name': 'Hermosa', 'avg_property_value': '454..."
4,"{'name': 'Logan Square', 'avg_property_value':...","{'name': 'Avondale', 'avg_property_value': '36..."

In [31]:
(float(dict(df.iloc[0,1])['avg_property_value']) + \
float(dict(df.iloc[1,1])['avg_property_value']) + \
float(dict(df.iloc[2,1])['avg_property_value']) + \
float(dict(df.iloc[3,1])['avg_property_value']) + \
float(dict(df.iloc[4,1])['avg_property_value']))/5

3240.3161437563126