In [3]:
import pyspark

from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import *

import pandas as pd

In [4]:
config = pyspark.SparkConf().setAll([("spark.dynamicAllocation.enabled","True"),
                                    ("spark.executor.cores","4")])
sc = SparkContext(conf=config)
spark = SparkSession(sc)

In [5]:
spark

In [14]:
%time bus = spark.read.csv("gs://biz-bucket/business.csv", inferSchema=True, header=True, sep = ',')

CPU times: user 13.7 ms, sys: 1.11 ms, total: 14.8 ms
Wall time: 1min 15s

In [17]:
bus.printSchema()

root
 |-- archive_version_year: integer (nullable = true)
 |-- abi: integer (nullable = true)
 |-- ticker: string (nullable = true)
 |-- company: string (nullable = true)
 |-- address_line_1: string (nullable = true)
 |-- city: string (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- location_employee_size_code: string (nullable = true)
 |-- location_sales_volume_code: string (nullable = true)
 |-- primary_naics_code: integer (nullable = true)
 |-- sic_code: integer (nullable = true)
 |-- sic6_descriptions_sic: string (nullable = true)
 |-- business_status_code: integer (nullable = true)
 |-- office_size_code: string (nullable = true)
 |-- company_holding_status: integer (nullable = true)
 |-- parent_employee_size_code: string (nullable = true)
 |-- parent_sales_volume_code: string (nullable = true)
 |-- census_tract: integer (nullable = true)
 |-- cbsa_code: integer (nullable = true)
 |-- year_established: integer (nullable = true)
 |-- employee_size_location: integer (nullable = true)
 |-- sales_volume_location: integer (nullable = true)
 |-- parent_actual_employee_size: integer (nullable = true)
 |-- parent_actual_sales_volume: integer (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)

In [19]:
bus.show(1)

+--------------------+----+------+--------------------+--------------+-----------+-------+---------------------------+--------------------------+------------------+--------+---------------------+--------------------+----------------+----------------------+-------------------------+------------------------+------------+---------+----------------+----------------------+---------------------+---------------------------+--------------------------+--------+---------+
|archive_version_year| abi|ticker|             company|address_line_1|       city|zipcode|location_employee_size_code|location_sales_volume_code|primary_naics_code|sic_code|sic6_descriptions_sic|business_status_code|office_size_code|company_holding_status|parent_employee_size_code|parent_sales_volume_code|census_tract|cbsa_code|year_established|employee_size_location|sales_volume_location|parent_actual_employee_size|parent_actual_sales_volume|latitude|longitude|
+--------------------+----+------+--------------------+--------------+-----------+-------+---------------------------+--------------------------+------------------+--------+---------------------+--------------------+----------------+----------------------+-------------------------+------------------------+------------+---------+----------------+----------------------+---------------------+---------------------------+--------------------------+--------+---------+
|                2009|4432|  null|GUIDA-SEIBERT DAI...|   433 PARK ST|NEW BRITAIN|   6051|                          G|                         H|          11212001|  202398| DRY CONDENSED/EVP...|                   9|            null|                  null|                     null|                    null|      415300|    25540|            1886|                   275|                60775|                       null|                      null|  41.665|-72.76954|
+--------------------+----+------+--------------------+--------------+-----------+-------+---------------------------+--------------------------+------------------+--------+---------------------+--------------------+----------------+----------------------+-------------------------+------------------------+------------+---------+----------------+----------------------+---------------------+---------------------------+--------------------------+--------+---------+
only showing top 1 row

In [26]:
%time res = spark.read.csv("gs://res-bucket/res_2017.txt", inferSchema=True, header=False, sep = '\t')

CPU times: user 15.5 ms, sys: 3.93 ms, total: 19.4 ms
Wall time: 1min 35s

In [27]:
res.printSchema()

root
 |-- _c0: long (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: integer (nullable = true)
 |-- _c3: integer (nullable = true)
 |-- _c4: integer (nullable = true)
 |-- _c5: integer (nullable = true)
 |-- _c6: integer (nullable = true)
 |-- _c7: integer (nullable = true)
 |-- _c8: integer (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: integer (nullable = true)
 |-- _c19: double (nullable = true)
 |-- _c20: double (nullable = true)
 |-- _c21: integer (nullable = true)
 |-- _c22: string (nullable = true)
 |-- _c23: integer (nullable = true)

In [29]:
res.show(10)

+--------+---+---+---+----+---+---+---+---+----+----+------------+----+----+----+----+-----------+----+----+---------+----------+------+----+----+
|     _c0|_c1|_c2|_c3| _c4|_c5|_c6|_c7|_c8| _c9|_c10|        _c11|_c12|_c13|_c14|_c15|       _c16|_c17|_c18|     _c19|      _c20|  _c21|_c22|_c23|
+--------+---+---+---+----+---+---+---+---+----+----+------------+----+----+----+----+-----------+----+----+---------+----------+------+----+----+
|44680654|  S| 21|  0| 959| 48|  9| 55|  2|  96|null|      MEADOW|null|  LN|null|null|THOMASVILLE|  GA|   0|30.808399|-83.849457|961100|  E5|2017|
|44680667|  S| 24|  3|1570|128|  9|147|  7| 153|null|     MELROSE|null|  LN|null|null|THOMASVILLE|  GA|   0|30.849767| -83.90532|960500|  S3|2017|
|44680670|  S| 21|  0|1391| 26|  8| 83|  2|  25|   S|     MELROSE|null|  LN|null|null|THOMASVILLE|  GA|   0|30.847137|  -83.9046|961000|  IE|2017|
|44680683|  S| 25|  5|1885|119|  9|272|  2| 504|null|MERRILLVILLE|null|  RD|null|null|THOMASVILLE|  GA|   0|30.947508|-83.893804|960300|  E5|2017|
|44680701|  S| 11|  1| 812| 40|  9| 81|  7| 156|null|  TWIN ACRES|null|  DR|null|null|THOMASVILLE|  GA|   0| 30.87911|-83.937834|960500|  S3|2017|
|44680714|  S| 21|  0| 807| 59|  9| 18|  1| 419|null|      MIDWAY|null|  RD|null|null|THOMASVILLE|  GA|   0|30.865205|-83.932834|960500|  E5|2017|
|44680735|  S| 25|  0|1661| 51|  9| 90|  8|  50|null|    MONCRIEF|null|  LN|null|null|THOMASVILLE|  GA|   0|30.831581| -83.90949|961000|  S3|2017|
|44680769|  S|  8|  0|1684|100|  9|140|  8| 405|null|   BRIARWOOD|null|  DR|null|null|THOMASVILLE|  GA|   0|30.823151| -83.95003|960900|  W4|2017|
|44680772|  S| 22|  2|1355| 42|  9|114|  7|2243|null|  SUMMERHILL|null|  RD|null|null|THOMASVILLE|  GA|   0|30.848064|-83.905718|960500|  E5|2017|
|44680777|  S| 12|  0|2038| 69|  9|134|  2|4420|null|        EAST|null|  RD|null|null|       LIMA|  OH|   0|40.773319|-84.185485| 10800|  FR|2017|
+--------+---+---+---+----+---+---+---+---+----+----+------------+----+----+----+----+-----------+----+----+---------+----------+------+----+----+
only showing top 10 rows

In [ ]:
sc.stop()