In [145]:
import pandas as pd
import numpy as np
import json

import os
import sys

import networkx as nx
from py2neo import Graph
import re
from itertools import combinations

from tqdm import tqdm
import sys
home_directory = "/Users/chrisolen/Documents/projects/demand-allocation/urban-demand-allocation"
geo_directory = "/Users/chrisolen/Documents/projects/demand-allocation/data/geog-bucket"
data_directory = "/Users/chrisolen/Documents/projects/demand-allocation/data"
graph_directory = "/Users/chrisolen/Documents/projects/demand-allocation/data/graph-models"
sys.path.append(home_directory)
import utilities

In [146]:
aggregate_by = "neighborhood"

In [147]:
data_directory_complete = data_directory + "/" "res-bucket"

In [148]:
data_directory_complete

'/Users/chrisolen/Documents/projects/demand-allocation/data/res-bucket'

In [149]:
with open('{}/chicago_{}_reformatted.json'.format(geo_directory, aggregate_by),'r') as f:
				geo = json.load(f)

In [150]:
df = pd.read_csv('{}/{}'.format(data_directory_complete, file_name))

In [151]:
unique_geos = list(geo.keys())

In [152]:
features_to_aggregate = ['property_value', 'children_count']

In [153]:
features = list(features_to_aggregate) + ['neighborhood']

In [154]:
features

['property_value', 'children_count', 'neighborhood']

In [155]:
features_dataframe = df[features]

In [156]:
if 'None' in list(features_dataframe[aggregate_by]):

		features_dataframe = features_dataframe[features_dataframe[aggregate_by] != 'None']

In [157]:
aggregated_frame = pd.DataFrame({aggregate_by:unique_geos})

In [158]:
aggregated_frame

          neighborhood
0      Grand Boulevard
1         Printers Row
2        United Center
3   Sheffield & DePaul
4        Humboldt Park
..                 ...
93      Belmont Cragin
94              Austin
95          Gold Coast
96            Boystown
97         River North

[98 rows x 1 columns]

In [159]:
aggregated = features_dataframe.groupby(aggregate_by)\
								 ['property_value'].mean()

In [160]:
aggregated

neighborhood
Albany Park       177.368034
Andersonville     262.897227
Archer Heights    166.869840
Armour Square     190.718850
Ashburn           130.282235
                     ...
West Ridge        152.955084
West Town         249.939436
Wicker Park       271.028049
Woodlawn           75.653118
Wrigleyville      254.443146
Name: property_value, Length: 97, dtype: float64

In [161]:
additionals = list(set(unique_geos) - set(list(aggregated.index)))

In [162]:
additionals

['Grant Park']

In [163]:
for i in additionals:
				if i != np.nan:
					print(aggregated)
					aggregated = aggregated.append(pd.Series({i:np.nan}, name='property_value'))
					print(aggregated)

neighborhood
Albany Park       177.368034
Andersonville     262.897227
Archer Heights    166.869840
Armour Square     190.718850
Ashburn           130.282235
                     ...
West Ridge        152.955084
West Town         249.939436
Wicker Park       271.028049
Woodlawn           75.653118
Wrigleyville      254.443146
Name: property_value, Length: 97, dtype: float64
Albany Park       177.368034
Andersonville     262.897227
Archer Heights    166.869840
Armour Square     190.718850
Ashburn           130.282235
                     ...
West Town         249.939436
Wicker Park       271.028049
Woodlawn           75.653118
Wrigleyville      254.443146
Grant Park               NaN
Name: property_value, Length: 98, dtype: float64

In [164]:
aggregated = aggregated.rename_axis("neighborhood")

In [165]:
aggregated

neighborhood
Albany Park       177.368034
Andersonville     262.897227
Archer Heights    166.869840
Armour Square     190.718850
Ashburn           130.282235
                     ...
West Town         249.939436
Wicker Park       271.028049
Woodlawn           75.653118
Wrigleyville      254.443146
Grant Park               NaN
Name: property_value, Length: 98, dtype: float64

In [166]:
aggregated_frame.merge(aggregated, how='left', on=aggregate_by)

          neighborhood  property_value
0      Grand Boulevard       88.496911
1         Printers Row      188.515927
2        United Center      115.320936
3   Sheffield & DePaul      363.419810
4        Humboldt Park      153.636904
..                 ...             ...
93      Belmont Cragin      180.702560
94              Austin      113.732411
95          Gold Coast      342.077790
96            Boystown      175.589340
97         River North      209.748994

[98 rows x 2 columns]