In [93]:
from neo4j import GraphDatabase

uri = "bolt://localhost:7687"
uri = "bolt://localhost:7687"
userName = "neo4j"
password = "password"
db_driver = GraphDatabase.driver(uri, auth=(userName, password))
query = "match (a:neighborhood)-[:NEXT_TO]->(b) where a.name = 'Printers Row' return a,b"

with db_driver.session() as db_session:
    result = list(db_session.run(query))

In [99]:
result

[<Record a=<Node id=124 labels={'neighborhood'} properties={'name': 'Printers Row'}> b=<Node id=457 labels={'neighborhood'} properties={'name': 'Near South Side'}>>,
 <Record a=<Node id=124 labels={'neighborhood'} properties={'name': 'Printers Row'}> b=<Node id=409 labels={'neighborhood'} properties={'name': 'Loop'}>>]

In [100]:
from py2neo import Graph
import pandas as pd

graph = Graph(uri, auth=("neo4j", "password"))
result = graph.run("match (a:neighborhood)-[:NEXT_TO]->(b) where a.name = 'Printers Row' return a,b").to_table()
df = pd.DataFrame(result)

In [101]:
df

                          0                            1
0  {'name': 'Printers Row'}  {'name': 'Near South Side'}
1  {'name': 'Printers Row'}             {'name': 'Loop'}